{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "testdata": "./test/data",
                    "fonteditor-core": "./src"
                }
            }
        ]
    ]
}