*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
.DS_Store
pids
logs
results
release
npm-debug.log
node_modules
node
.vscode
woff2/woff2
woff2src/emsdk
woff2src/woff2*
woff2src/cjs
woff2src/mjs
/lib
/lib-esm
baiduHealth-deflate.woff
package-lock.json
test/example/output
test/example/example.js
.claude
.comate
.aider*